<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto ">
      <div class=" h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class=" h-full w-1 bg-gray-400 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">1</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row ">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0 border-8 border-double border-blue-500 rounded">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Saber que tipo de pc queremos</h2>
          <p class="leading-relaxed">Tendremos que mirar que tipo de ordenador se ajusta mas a nosotros.</p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-400 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">2</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0 border-8 border-double border-blue-500 rounded">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Elegir o Montar tu pc</h2>
          <p class="leading-relaxed">Una vez que sabemos para que lo queremos debemos elegir o montar tu pc deseado.</p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-400 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">3</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0 border-8 border-double border-blue-500 rounded">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Configurar tu pc a tu gusto</h2>
          <p class="leading-relaxed">Configura tu pc como tu quieras, siempre tienes opciones.</p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-400 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">4</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0 border-8 border-double border-blue-500 rounded">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Finalizar tu compra</h2>
          <p class="leading-relaxed">La mejor parte estas a un clic de tener el ordenador de tus sueños.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex relative pt-10 pb-20 justify-center mx-auto">
    <a
    class="group relative inline-flex items-center overflow-hidden rounded bg-gradient-to-tr from-sky-700 via-sky-700 to-cyan-300 px-32 py-5 text-white focus:outline-none focus:ring active:bg-indigo-500"
    [routerLink]="['/configuracion']"
  >
    <span
      class="absolute right-0 translate-x-full transition-transform group-hover:-translate-x-4"
    >
      <svg
        class="h-5 w-5"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17 8l4 4m0 0l-4 4m4-4H3"
        />
      </svg>
    </span>

    <span class="text-lg font-extrabold transition-all group-hover:mr-4">
      CONFIGURAR
    </span>
  </a>
  </div>
</section>
