<div class="mt-12 flex flex-col justify-center sm:flex-row">
  <div class="mx-5 text-center place-self-center">
    <a [routerLink]="['/amd']" class="group relative block bg-black h-2/6 w-2/4 mb-12  mx-auto">
      <img
        alt="Developer"
        src="https://www.amd.com/system/files/2022-09/1536834-amd-ryzen-7000-series-beauty-1260x709_0.jpg"
        class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
      />

      <div class="relative p-4 sm:p-6 lg:p-8">

        <p class="text-xl font-bold text-white sm:text-2xl">AMD</p>

        <div class="mt-32 sm:mt-48 lg:mt-64">
          <div
            class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
          >
            <p class="text-sm text-white">
              AMD es uno de los  mayores fabricante de circuitos integrados del mundo según su cifra de negocio anual.
            </p>
          </div>
        </div>
      </div>
    </a>

  </div>
  <div class="mx-5 text-center place-self-center">
    <a [routerLink]="['/intel']" class="group relative block bg-black h-2/6 w-2/4 mb-12 mx-auto">
      <img
        alt="Developer"
        src="https://www.intel.com/content/dam/www/central-libraries/us/en/images/2022-09/newsroom-innovation-13th-gen-intel-core-1-feat.jpg"
        class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
      />

      <div class="relative p-4 sm:p-6 lg:p-8">

        <p class="text-xl font-bold text-white sm:text-2xl">INTEL</p>

        <div class="mt-32 sm:mt-48 lg:mt-64">
          <div
            class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
          >
            <p class="text-sm text-white">
              Intel Corporation es el mayor fabricante de circuitos integrados del mundo según su cifra de negocio anual.
            </p>
          </div>
        </div>
      </div>
    </a>

</div>
