<!--Nav bar-->
<div class=" flex flex-wrap p-5 flex-col md:flex-row w-full items-center bg-gradient-to-tr from-sky-700 via-sky-700 to-cyan-300">
  <nav class="font-bold text-xl flex lg:w-2/5 flex-wrap items-center md:ml-auto">
    <a class="mr-5 hover:text-white" [routerLink]="['/inicio']">INICIO</a>
    <a class="mr-5 hover:text-white" [routerLink]="['/ensamble']">ENSAMBLE</a>
    <a class="mr-5 hover:text-white" [routerLink]="['/configuracion']">CONFIG</a>
    <a class="mr-5 hover:text-white" [routerLink]="['/nosotros']">NOSOTROS</a>
  </nav>
  <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-white lg:items-center lg:justify-center mb-4 md:mb-0">
  <img  class="mx-auto w-48" src="../../../assets/logo.png">
  </a>
  <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
    <button  class="inline-flex items-center "  [routerLink]="['/login']">
    <img src="../../../assets/person-circle-outline.svg" alt="" class="mx-auto w-10">
    </button>
    <button  class="inline-flex items-center "  [routerLink]="['/carrito']">
      <img src="../../../assets/cart-outline.svg" alt="" class="mx-auto w-10">
      </button>
  </div>
</div>
<!--FIN Nav bar-->
