
  <div class="mt-12 flex justify-center">
    <div class="mx-5 text-center">
        <img src="../../../assets/manuel.jpg.png" class="rounded-full">
        <h2 class="cabeza">Director</h2>
        <p class="texto">Manuel Guerra Ruiz</p>
    </div>
   </div>
   <div class="mt-12 flex justify-center">
    <div class="mx-5 text-center">
        <img src="../../../assets/manuel.jpg.png" class="rounded-full">
        <h2 class="cabeza">Director</h2>
        <p class="texto">Manuel Guerra Ruiz</p>
    </div>
    <div class="mx-5 text-center">
      <img src="../../../assets/manuel.jpg.png" class="rounded-full">
      <h2 class="cabeza">Director</h2>
      <p class="texto">Lopera</p>
  </div>
   </div>

