<div class="mx-auto max-w-xl text-center mt-5">
  <h1 class="text-3xl font-extrabold sm:text-5xl">
    Nuestro Equipo
  </h1>
</div>
  <div class="mt-12 flex flex-col justify-center sm:flex-row">
    <div class="mx-5 text-center place-self-center">
        <img src="../../../assets/manuel.jpg.png" class="rounded-full">
        <h2 class="cabeza">Director</h2>
        <p class="texto">Manuel Guerra Ruiz</p>
    </div>
   </div>
   <div class="mt-12 flex flex-col justify-center sm:flex-row">
    <div class="mx-5 text-center place-self-center">
        <img src="../../../assets/andrea.jpg" class="rounded-full">
        <h2 class="cabeza">Diseñadora</h2>
        <p class="texto">Andrea Angel Garcia</p>
    </div>
    <div class="mx-5 text-center place-self-center">
      <img src="../../../assets/juanma.jpg" class="rounded-full">
      <h2 class="cabeza">Seguridad Web</h2>
      <p class="texto">Super Juanma</p>
  </div>
  </div>
   <div class="mt-12 mb-5 flex flex-col justify-center sm:flex-row">
    <div class="mx-5 text-center place-self-center">
        <img src="../../../assets/quiles.jpg" class="rounded-full">
        <h2 class="cabeza">Analista de Datos</h2>
        <p class="texto">Antonio Quiles</p>
    </div>
    <div class="mx-5 text-center place-self-center">
      <img src="../../../assets/richi.jpg" class="rounded-full">
      <h2 class="cabeza">Programador Senior</h2>
      <p class="texto">Ricardo Cabreras 'Richi'</p>
  </div>
  <div class="mx-5 text-center place-self-center">
    <img src="../../../assets/paco.jpg" class="rounded-full">
    <h2 class="cabeza">Supervisor</h2>
    <p class="texto">Paco 'Paquito'</p>
</div>
   </div>

