<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="../../../assets/evagelion.jpg">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">The Evagelion</h1>
        <p class="leading-relaxed">Torre: Corsair 4000D Airflow Cristal Templado USB 3.1 Negra</p>
         <p class="leading-relaxed">Fuente de alimentación: Corsair RMx Series RM1000x 1000W 80 Plus Gold Modular o similar - Según disponibilidad</p>
         <p class="leading-relaxed">Procesador: Intel Core i9-12900F 5.1 GHz</p>
          <p class="leading-relaxed">Placa Base: Gigabyte Z690 AORUS ELITE AX o similar - Según disponibilidad</p>
          <p class="leading-relaxed"> Almacenamiento:
          Samsung 980 SSD 1TB PCIe 3.0 NVMe M.2 x 1
          Samsung 980 Pro SSD 1TB PCIe NVMe M.2 x 1</p>
          <p class="leading-relaxed"> Memoria: Corsair VENGEANCE DDR5 4800MHz PC5-38400 64GB 4x16GB CL40 o similar - Según disponibilidad
            <p class="leading-relaxed">  Gráfica: Gaming GeForce RTX 4090 24GB GDDR6X
          3 x DisplayPort 1.4a (up to 7680x4320@60Hz)
          1 x HDMI® Connector*.</p>
        <div class="flex mt-3">
          <span class="title-font font-medium text-2xl text-gray-900">5013 €</span>
          <div class="flex relative pt-10 pb-20 justify-center mx-auto">
            <a
            class="group relative inline-flex items-center overflow-hidden rounded bg-gradient-to-tr from-sky-700 via-sky-700 to-cyan-300 px-32 py-5 text-white focus:outline-none focus:ring active:bg-indigo-500"
            [routerLink]="['/carrito']"
          >
            <span
              class="absolute right-0 translate-x-full transition-transform group-hover:-translate-x-4"
            >
              <svg
                class="h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 8l4 4m0 0l-4 4m4-4H3"
                />
              </svg>
            </span>

            <span class="text-lg font-extrabold transition-all group-hover:mr-4">
              CARRITO
            </span>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
