<section>
  <section
    class="relative bg-[url(https://i.pinimg.com/originals/1a/71/58/1a7158689e5ce37e5d78d97c332a003f.gif)] bg-cover bg-center bg-no-repeat">


    <div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex  lg:items-center lg:px-8">
      <div class="max-w-xl text-center sm:text-left">
        <h1 class="text-3xl font-extrabold sm:text-5xl text-blue-600">
          BASIC
        </h1>
      </div>
    </div>
  </section>

  <div class="max-w-screen-2xl  py-8 mx-auto  sm:py-12 ">
    <header class="text-center">
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
        Nuestros mejores productos
      </h2>

      <p class="max-w-md mx-auto mt-4 text-gray-500">
        Estos son algunos de nuestros mejores productos
        que tenemos a la venta corre antes de que se acaben
      </p>
    </header>
    <div>
      <ul class="grid gap-4  mt-8 px-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4">

        <li>
          <a href="#" class="block overflow-hidden group">
            <img
              src="https://thumb.pccomponentes.com/w-530-530/articles/32/324786/1686-acer-aspire-xc-830-intel-celeron-j4025-4gb-256gb-ssd.jpg"
              alt="" class="object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]" />

            <div class="relative pt-3 bg-white">
              <h3 class="text-sm text-center text-gray-700 group-hover:underline group-hover:underline-offset-4">
                Acer 13
              </h3>

              <p class="mt-2 text-center">


                <span class="tracking-wider text-gray-900 text-center"> 150 € </span>
              </p>
            </div>
          </a>
        </li>

        <li>
          <a href="#" class="block overflow-hidden group">
            <img
              src="https://thumb.pccomponentes.com/w-530-530/articles/1029/10296585/1614-hp-workstation-z240-sff-intel-core-i5-6500-8gb-1tb.jpg"
              alt="" class="object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]" />

            <div class="relative pt-3 bg-white">
              <h3 class="text-sm text-center text-gray-700 group-hover:underline group-hover:underline-offset-4">
                HP pavilon
              </h3>

              <p class="mt-2 text-center">


                <span class="tracking-wider text-gray-900 text-center"> 200 € </span>
              </p>
            </div>
          </a>
        </li>

        <li>
          <a href="#" class="block overflow-hidden group">
            <img
              src="https://thumb.pccomponentes.com/w-530-530/articles/1067/10670346/1302-zpc-ukc5-intel-core-i5-10400-8gb-480gb-ssd.jpg"
              alt="" class=" object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]" />

            <div class="relative pt-3 bg-white">
              <h3 class="text-sm text-center text-gray-700 group-hover:underline group-hover:underline-offset-4">
                ZPC Ukc5
              </h3>

              <p class="mt-2 text-center">

                <span class="tracking-wider text-gray-900 text-center"> 350 € </span>
              </p>
            </div>
          </a>
        </li>

        <li>
          <a href="#" class="block overflow-hidden group">
            <img
              src="https://thumb.pccomponentes.com/w-530-530/articles/29/293426/hp-slim-desktop-s01-af0014ns-amd-athlon-3050u-8gb-256gb-ssd.jpg"
              alt="" class="object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]" />

            <div class="relative pt-3 bg-white">
              <h3 class="text-sm text-center text-gray-700 group-hover:underline group-hover:underline-offset-4">
                HP XBOX 360
              </h3>

              <p class="mt-2 text-center">

                <span class=" text-center tracking-wider text-gray-900 "> 360 € </span>
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section>
  <section
    class="relative bg-[url(https://i.pinimg.com/originals/96/c4/1d/96c41d290b7a0cd5d80ceebc3aaf9d15.gif)] bg-cover bg-center bg-no-repeat">


    <div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex  lg:items-center lg:px-8">
      <div class="max-w-xl text-center sm:text-left">
        <h1 class="text-3xl font-extrabold sm:text-5xl text-red-600">
          PROFESIONAL
        </h1>
      </div>
    </div>


  </section>
  <div class="max-w-screen-2xl  py-8 mx-auto  sm:py-12 ">
    <header class="text-center">
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
        Nuestros mejores productos
      </h2>

      <p class="max-w-md mx-auto mt-4 text-gray-500">
        Estos son algunos de nuestros mejores productos
        que tenemos a la venta corre antes de que se acaben
      </p>
    </header>
    <div>
      <ul class="grid gap-4  mt-8 px-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4">

        <li>
          <a href="#" class="block overflow-hidden group">
            <img
              src="https://thumb.pccomponentes.com/w-530-530/articles/1036/10364752/1131-hp-victus-15l-tg02-0020ns-amd-ryzen-7-5700g-16gb-1tb-512gb-ssd-gtx-1660-super.jpg"
              alt="" class="object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]" />

            <div class="relative pt-3 bg-white">
              <h3 class="text-sm text-center text-gray-700 group-hover:underline group-hover:underline-offset-4">
                HP WORK
              </h3>

              <p class="mt-2 text-center">


                <span class="tracking-wider text-gray-900 text-center"> 850 € </span>
              </p>
            </div>
          </a>
        </li>

        <li>
          <a href="#" class="block overflow-hidden group">
            <img
              src="https://thumb.pccomponentes.com/w-530-530/articles/1064/10649452/1143-acer-nitro-n50-n50-640-intel-core-i5-12400f-16-gb-512gb-ssd-gtx-1660-super-bcadc85f-52c3-46af-8421-a87d9e7a8238.jpg"
              alt="" class="object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]" />

            <div class="relative pt-3 bg-white">
              <h3 class="text-sm text-center text-gray-700 group-hover:underline group-hover:underline-offset-4">
                Acer Product
              </h3>

              <p class="mt-2 text-center">


                <span class="tracking-wider text-gray-900 text-center"> 950 € </span>
              </p>
            </div>
          </a>
        </li>

        <li>
          <a href="#" class="block overflow-hidden group">
            <img
              src="https://thumb.pccomponentes.com/w-530-530/articles/1062/10622295/1698-asus-u500ma-75700g0090-amd-ryzen-7-5700g-16gb-512gb-ssd-caracteristicas.jpg"
              alt="" class=" object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]" />

            <div class="relative pt-3 bg-white">
              <h3 class="text-sm text-center text-gray-700 group-hover:underline group-hover:underline-offset-4">
                Asus Progession
              </h3>

              <p class="mt-2 text-center">

                <span class="tracking-wider text-gray-900 text-center"> 950 € </span>
              </p>
            </div>
          </a>
        </li>

        <li>
          <a href="#" class="block overflow-hidden group">
            <img src="https://thumb.pccomponentes.com/w-530-530/articles/1026/10262659/1841-lenovo-ideacentre-5-14iab7-intel-core-i5-12400-16-gb-512gb-ssd.jpg" alt=""
              class="object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]" />

            <div class="relative pt-3 bg-white">
              <h3 class="text-sm text-center text-gray-700 group-hover:underline group-hover:underline-offset-4">
                Lenovo Empress
              </h3>

              <p class="mt-2 text-center">

                <span class=" text-center tracking-wider text-gray-900 "> 1200 € </span>
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

</section>
<section>
  <section
    class="relative bg-[url(https://i.pinimg.com/originals/cc/e9/04/cce9043fb0b58b3ee3f2a13f95378c3f.gif)] bg-cover bg-center bg-no-repeat">


    <div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex  lg:items-center lg:px-8">
      <div class="max-w-xl text-center sm:text-left">
        <h1 class="text-3xl font-extrabold sm:text-5xl text-yellow-600">
          GAMING
        </h1>
      </div>
    </div>


  </section>
  <div class="max-w-screen-2xl  py-8 mx-auto  sm:py-12 ">
    <header class="text-center">
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
        Nuestros mejores productos
      </h2>

      <p class="max-w-md mx-auto mt-4 text-gray-500">
        Estos son algunos de nuestros mejores productos
        que tenemos a la venta corre antes de que se acaben
      </p>
    </header>
    <div>
      <ul class="grid gap-4  mt-8 px-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4">

        <li>
          <a [routerLink]="['/carta']" class="block overflow-hidden group">
            <img src="../../../assets/evagelion.jpg" alt=""
              class="object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]" />

            <div class="relative pt-3 bg-white">
              <h3 class="text-sm text-center text-gray-700 group-hover:underline group-hover:underline-offset-4">
                The Evagelion
              </h3>

              <p class="mt-2 text-center">

                <span class="tracking-wider text-gray-900 text-center"> 5013 €</span>
              </p>
            </div>
          </a>
        </li>

        <li>
          <a href="#" class="block overflow-hidden group">
            <img src="https://thumb.pccomponentes.com/w-530-530/articles/1057/10576448/1310-msi-mag-infinite-x2-13ftd-013xes-intel-core-i7-13700kf-32gb-1tb-ssd-rtx3070.jpg" alt=""
              class="object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]" />

            <div class="relative pt-3 bg-white">
              <h3 class="text-sm text-center text-gray-700 group-hover:underline group-hover:underline-offset-4">
                MSI Destroyer
              </h3>

              <p class="mt-2 text-center">


                <span class="tracking-wider text-gray-900 text-center"> 1500 € </span>
              </p>
            </div>
          </a>
        </li>

        <li>
          <a href="#" class="block overflow-hidden group">
            <img src="https://thumb.pccomponentes.com/w-530-530/articles/1065/10658418/1115-hp-envy-te02-0020ns-intel-core-i7-12700-32gb-1tb-1tb-ssd-rtx-3060.jpg" alt=""
              class=" object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]" />

            <div class="relative pt-3 bg-white">
              <h3 class="text-sm text-center text-gray-700 group-hover:underline group-hover:underline-offset-4">
                Ice Cube
              </h3>

              <p class="mt-2 text-center">
                <span class="tracking-wider text-gray-900 text-center"> 2500 € </span>
              </p>
            </div>
          </a>
        </li>

        <li>
          <a href="#" class="block overflow-hidden group">
            <img src="https://thumb.pccomponentes.com/w-530-530/articles/1065/10650853/1294-pcmon-diablo-amd-ryzen-7-5700x-32gb-1tb-ssd-rtx-3070.jpg" alt=""
              class="object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]" />

            <div class="relative pt-3 bg-white">
              <h3 class="text-xs text-center text-gray-700 group-hover:underline group-hover:underline-offset-4">
                DIABLO
              </h3>

              <p class="mt-2 text-center">

                <span class=" text-center tracking-wider text-gray-900 "> 666 € </span>
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

</section>
