
<section class="h-full flex justify-center items-center gradient-form bg-gray-200 md:h-screen">
  <div class="container  py-10 px-5 h-full">
    <div class="flex justify-center items-center flex-wrap h-full  text-gray-800">
      <div class="xl:w-8/12">
        <div class="block bg-white shadow-lg rounded-lg">
          <div class="lg:flex lg:flex-wrap g-0">
            <div class="lg:w-6/12 px-4 md:px-0">
              <div class="md:p-12 md:mx-6">
                <div class="text-center">
                  <img
                    class="mx-auto w-48"
                    src="../../../assets/CUSTOMPCLogo.png"
                    alt="logo"
                  />
                  <h4 class="text-xl font-semibold mt-1 mb-12 pb-1">Tu equipo de ensambladores</h4>
                </div>
                <form action="login">
                  <p class="mb-4">Recuperar contraseña</p>
                  <div class="mb-4">
                    <input
                      type="email"
                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      placeholder="Email"
                      required
                    />
                  </div>
                  <div class="text-center pt-1 mb-12 pb-1">
                    <button
                      class="inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md bg-gradient-to-tr from-sky-700 via-sky-700 to-cyan-300 hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3"
                      type="submit"
                      data-mdb-ripple="true"
                      data-mdb-ripple-color="light"
                      [routerLink]="['/login']"

                    >
                      Enviar
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div
              class="lg:w-6/12 flex items-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none bg-gradient-to-tr from-sky-700 via-sky-700 to-cyan-300"
            >
              <div class="text-white px-4 py-6 md:p-12 md:mx-6">
                <h4 class="text-xl font-semibold mb-6">Tu empresa de ensambles favorita!</h4>
                <p class="text-sm">
                 Quieres tener tu propio ordenador y elegir tu las piezas de tu pc,
                 quieres que tu pc tenga el mayor redimiento posible,
                 tanto para jugar como para trabajar tenemos tu pc.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
